footer {
    font-size: 1.25rem;
    background-color: $primary-color;
    color: $text-color;
    height: 100%;
    text-align: center;
    bottom: 0;
  
    .redesico {
      width: 1.563rem;
    }
  }
  
  .contenertodo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .caja {
    height: auto;
    align-items: center;
    background-color: $background-color;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 1.25rem;
    padding: 1.25rem;
    margin: 0;
    gap: 1rem;
  
    h1 {
      font-size: 1.5rem;
    }
  
    .inp {
      width: 15.625rem;
      padding: 0.5rem;
    }
  
    .but {
      width: 12.5rem;
      padding: 0.5rem;
    }
  
    input,
    button,
    a {
      text-decoration: none;
      color: $text-color;
    }
  }
  
  .checkbox-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  
  .titulos {
    width: 25%;
    font-size: 1rem;
    display: flex;
  }
  
  .info {
    width: 80%;
  }
  
  .aboutus {
    margin: 0.625rem;
    border-radius: 1.25rem;
    background: #a8a8a868;
    backdrop-filter: blur(0.2rem);
  }
  
  .carrito {
    width: 100%;
    height: 25rem;
    background-color: #a8a8a868;
    border-radius: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.625rem;
    backdrop-filter: blur(0.2rem);
  }
  