header {
    background-color: $primary-color;
    padding: 0.625rem;
    text-align: center;
  }
  
  .title {
    color: $secondary-color;
    font-family: $font-family-secondary;
    font-size: 3rem;
    text-decoration: none;
  }
  